# Marketing Funnel Analysis
- Analyst: Yue (Crystal) Hu
- Date: November 2024

## Data Processing

In [1]:
# Load packages
import pandas as pd
import numpy as np

import warnings

# Suppress warnings
warnings.filterwarnings('ignore')

In [2]:
# Load data
leads = pd.read_csv('leads_df.csv')
qualified_leads = pd.read_csv('qualified_leads_df.csv')
account_opportunitiy = pd.read_csv('account_opportunity.csv')

In [3]:
leads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55014 entries, 0 to 55013
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   LEAD_ID               55014 non-null  int64
 1   LEAD_SOURCE           52249 non-null  object
 2   LEAD_CREATE_DATE      55014 non-null  object
 3   LEAD_STATUS           55014 non-null  object
 4   LEAD_NAME             55014 non-null  object
 5   LEAD_REGION           38677 non-null  object
 6   LEAD_STATE            34532 non-null  object
 7   LEAD_EMAIL            46792 non-null  object
 8   LEAD_INDUSTRY         18739 non-null  object
 9   CONVERTED_ACCOUNT_ID  9827 non-null   object
dtypes: int64(1), object(9)
memory usage: 4.2+ MB

In [4]:
leads.head(10)

,LEAD_ID,LEAD_SOURCE,LEAD_CREATE_DATE,LEAD_STATUS,LEAD_NAME,LEAD_REGION,LEAD_STATE,LEAD_EMAIL,LEAD_INDUSTRY,CONVERTED_ACCOUNT_ID
0,862753,Event,9/9/22 0:00,Known User,Lori Davis,West,CA,lori.davis@example.com,NaN,NaN
1,900421,Event,9/9/22 0:00,Known User,Bridget Hernandez,West,California,bridget.hernandez@example.com,NaN,NaN
2,546676,Direct Traffic,9/9/22 0:00,Qualified,Joshua Wilson,West,CA,joshua.wilson@example.com,Retail / Goods,AC13604
3,750692,Referral Program,9/9/22 0:00,Known User,Mrs. Laura Newman,East,Pennsylvania,NaN,Education,NaN
4,195676,Direct Traffic,9/9/22 0:00,Working,Paul Gray,NaN,CA,paul.gray@example.com,NaN,NaN
5,807907,Affiliate,9/9/22 0:00,Nurture,Rebecca Brown,NaN,MA,rebecca.brown@example.com,NaN,NaN
6,817346,Self Sourced,9/9/22 0:00,Known User,Jody Walker,East,Connecticut,jody.walker@example.com,Law Firms & Legal Services,NaN
7,791537,Organic Search,9/9/22 0:00,Qualified,Teresa Mathews,East,NY,teresa.mathews@example.com,Consulting / Professional Services,NaN
8,558224,NaN,9/9/22 0:00,Qualified,Eric Cardenas,East,FL,eric.cardenas@example.com,Manufacturing,NaN
9,225181,Direct Traffic,9/9/22 0:00,Working,Willie Schroeder,East,Maryland,willie.schroeder@example.com,NaN,NaN

In [5]:
# Convert date columns to datetime format
leads['LEAD_CREATE_DATE'] = pd.to_datetime(leads['LEAD_CREATE_DATE'])

In [6]:
leads.shape

(55014, 10)

In [8]:
qualified_leads.head(10)

   LEAD_ID QUALIFIED_LEAD_ID CONVERTED_OPPORTUNITY_ID
0    33844          QL000002          3SSHT9F3N6LCC7F
1   257694          QL000005          WQFQ26CXMU7RADH
2   108108          QL000006          SOQMUN0Q31WVE91
3   409279          QL000009          A1I6QUWYJO8L6SR
4   568514          QL000010                      NaN
5   928296          QL000011          EVNK2DQX6PXB1FL
6   702408          QL000012          AQ0PN38MU8VEBGS
7   676722          QL000023          S4OBFDZS4U1RBX5
8   115246          QL000024          A6ZQWZ6VMUH2XA6
9   781328          QL000025                      NaN

In [9]:
qualified_leads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25414 entries, 0 to 25413
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LEAD_ID                   25414 non-null  int64
 1   QUALIFIED_LEAD_ID         25414 non-null  object
 2   CONVERTED_OPPORTUNITY_ID  17066 non-null  object
dtypes: int64(1), object(2)
memory usage: 595.8+ KB

In [10]:
account_opportunitiy.head(10)

,OPPORTUNITY_ID,ACCOUNT_ID,OPPORTUNITY_CREATED_DATE,OPPORTUNITY_OWNER_ROLE,COMPANY_SIZE,OPPORTUNITY_IS_WON,OPPORTUNITY_SOURCE,REVENUE
0,3SSHT9F3N6LCC7F,AC11621,1/4/22 0:00,Self Service Team,3,1,BD,360
1,WQFQ26CXMU7RADH,AC12199,2/14/21 0:00,Self Service Team,1,0,Inbound,175
2,SOQMUN0Q31WVE91,AC04963,6/13/22 0:00,Self Service Team,154,1,SDA,13244
3,A1I6QUWYJO8L6SR,AC05505,12/22/24 0:00,Self Service Team,61,0,Inbound,7259
4,MQ1YU3CYTUH90NR,AC04964,7/15/20 0:00,Account Executive Team,40,1,Self,2560
5,EVNK2DQX6PXB1FL,AC12199,10/20/22 0:00,Self Service Team,16,0,Inbound,1552
6,AQ0PN38MU8VEBGS,AC11622,6/30/20 0:00,Business Development Team,20,1,Inbound,2260
7,3XQ17U1HYA6LB2X,AC04965,5/10/21 0:00,Self Service Team,2,1,Inbound,282
8,AW37601V6SE9PI2,AC12199,6/12/21 0:00,Self Service Team,20,0,SDA,3060
9,R97NELDZXUHHPM6,AC12200,4/22/23 0:00,Self Service Team,3,0,Inbound,219

In [11]:
account_opportunitiy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27437 entries, 0 to 27436
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   OPPORTUNITY_ID            27437 non-null  object
 1   ACCOUNT_ID                27437 non-null  object
 2   OPPORTUNITY_CREATED_DATE  27437 non-null  object
 3   OPPORTUNITY_OWNER_ROLE    27437 non-null  object
 4   COMPANY_SIZE              27437 non-null  int64
 5   OPPORTUNITY_IS_WON        27437 non-null  int64
 6   OPPORTUNITY_SOURCE        27437 non-null  object
 7   REVENUE                   27437 non-null  int64
dtypes: int64(3), object(5)
memory usage: 1.7+ MB

In [12]:
account_opportunitiy['OPPORTUNITY_CREATED_DATE'] = pd.to_datetime(account_opportunitiy['OPPORTUNITY_CREATED_DATE'])

In [13]:
account_opportunitiy['OPPORTUNITY_ID'].nunique()

27437

In [14]:
account_opportunitiy.describe()

,OPPORTUNITY_CREATED_DATE,COMPANY_SIZE,OPPORTUNITY_IS_WON,REVENUE
count,27437,27437.000000,27437.000000,27437.000000
mean,2022-07-30 17:56:36.100156928,30.609360,0.410103,3821.717425
min,2017-11-28 00:00:00,-865.000000,0.000000,-70930.000000
25%,2021-10-02 00:00:00,3.000000,0.000000,321.000000
50%,2022-08-05 00:00:00,13.000000,0.000000,1440.000000
75%,2023-05-13 00:00:00,48.000000,1.000000,5424.000000
max,2025-02-26 00:00:00,3380.000000,1.000000,598260.000000
std,NaN,51.922389,0.491861,7333.397349

In [15]:
account_opportunitiy[account_opportunitiy['REVENUE']<0]

,OPPORTUNITY_ID,ACCOUNT_ID,OPPORTUNITY_CREATED_DATE,OPPORTUNITY_OWNER_ROLE,COMPANY_SIZE,OPPORTUNITY_IS_WON,OPPORTUNITY_SOURCE,REVENUE
925,HXGY89YL0Y6E1EY,AC12273,2021-08-29,Self Service Team,-1,0,Inbound,-61
17173,V2XEEY95NZ8DQF2,AC01336,2022-08-31,Self Service Team,-1,1,Inbound,-126
21754,2SFU3DB35XDGSEZ,AC13234,2024-06-30,Self Service Team,-5,0,Inbound,-605
25978,B6V44CX691GAMF7,AC14962,2021-06-24,Self Service Team,-865,0,Inbound,-70930

In [16]:
# Remove negative revenue
account_opportunitiy = account_opportunitiy[account_opportunitiy['REVENUE']>0]

- Qualfied leads based

In [17]:
# join leads and ql
ql = leads.merge(qualified_leads, on='LEAD_ID')

In [18]:
ql.shape

(25414, 12)

In [19]:
# join ql and oppo
df_ql_oppo = account_opportunitiy.merge(ql, left_on='OPPORTUNITY_ID',right_on='CONVERTED_OPPORTUNITY_ID')

In [21]:
df_ql_oppo.shape

(17063, 20)

In [24]:
# Opportunities should be created after the leads. 
df_ql_oppo = df_ql_oppo[df_ql_oppo['OPPORTUNITY_CREATED_DATE']>=df_ql_oppo['LEAD_CREATE_DATE']]

In [29]:
df_ql_oppo.shape

(16902, 20)

In [28]:
# no matached account_id 
df_ql_oppo[df_ql_oppo['CONVERTED_ACCOUNT_ID'] == df_ql_oppo['ACCOUNT_ID']].shape

(0, 20)

In [30]:
df_ql_final = df_ql_oppo[df_ql_oppo['CONVERTED_ACCOUNT_ID'].isna()]

In [32]:
df_ql_final['Channel'] = 'qualified_leads'

In [33]:
df_ql_final.shape

(16843, 21)

 - account based

In [105]:
# join opportunity with leads using account_id
df_acct = leads.merge(account_opportunitiy,left_on='CONVERTED_ACCOUNT_ID',right_on='ACCOUNT_ID')

In [106]:
df_acct.shape

(21456, 18)

In [71]:
# date filter
df_acct = df_acct[df_acct['OPPORTUNITY_CREATED_DATE']>=df_acct['LEAD_CREATE_DATE']]

In [72]:
# remove the opportunities that already be counted in ql
ql_oppo_id = qualified_leads['CONVERTED_OPPORTUNITY_ID']
df_acct = df_acct[~df_acct['OPPORTUNITY_ID'].isin(ql_oppo_id)]

In [73]:
df_acct['OPPORTUNITY_ID'].nunique()

9947

In [76]:
sorted_df_acct = df_acct.sort_values(by='OPPORTUNITY_CREATED_DATE',ascending=False)
df_acct_final = sorted_df_acct[~sorted_df_acct.duplicated(subset='OPPORTUNITY_ID',keep='first')]

In [125]:
remove_id = sorted_df_acct[sorted_df_acct.duplicated(subset='OPPORTUNITY_ID',keep='first')]['LEAD_ID']
leads_final = leads[~leads['LEAD_ID'].isin(remove_id)]

In [77]:
df_acct_final['OPPORTUNITY_ID'].nunique()

9947

In [78]:
df_acct_final['Channel'] = 'account'

In [79]:
df_acct_final.shape

(9947, 19)

In [134]:
df_ql_final.shape

(16843, 19)

In [80]:
df_ql_final.columns

Index(['OPPORTUNITY_ID', 'ACCOUNT_ID', 'OPPORTUNITY_CREATED_DATE',
       'OPPORTUNITY_OWNER_ROLE', 'COMPANY_SIZE', 'OPPORTUNITY_IS_WON',
       'OPPORTUNITY_SOURCE', 'REVENUE', 'LEAD_ID', 'LEAD_SOURCE',
       'LEAD_CREATE_DATE', 'LEAD_STATUS', 'LEAD_NAME', 'LEAD_REGION',
       'LEAD_STATE', 'LEAD_EMAIL', 'LEAD_INDUSTRY', 'CONVERTED_ACCOUNT_ID',
       'QUALIFIED_LEAD_ID', 'CONVERTED_OPPORTUNITY_ID', 'Channel'],
      dtype='object')

In [81]:
df_acct_final.columns

Index(['LEAD_ID', 'LEAD_SOURCE', 'LEAD_CREATE_DATE', 'LEAD_STATUS',
       'LEAD_NAME', 'LEAD_REGION', 'LEAD_STATE', 'LEAD_EMAIL', 'LEAD_INDUSTRY',
       'CONVERTED_ACCOUNT_ID', 'OPPORTUNITY_ID', 'ACCOUNT_ID',
       'OPPORTUNITY_CREATED_DATE', 'OPPORTUNITY_OWNER_ROLE', 'COMPANY_SIZE',
       'OPPORTUNITY_IS_WON', 'OPPORTUNITY_SOURCE', 'REVENUE', 'Channel'],
      dtype='object')

In [82]:
df_ql_final = df_ql_final.drop(columns=['QUALIFIED_LEAD_ID','CONVERTED_OPPORTUNITY_ID'])

In [83]:
df = pd.concat([df_ql_final,df_acct_final])

In [84]:
df = df.drop_duplicates()

In [120]:
df.shape

(26790, 19)

In [166]:
df.describe()

,REVENUE,OPPORTUNITY_IS_WON,LEAD_CREATE_DATE,COMPANY_SIZE,OPPORTUNITY_CREATED_DATE,LEAD_ID
count,26790.000000,26790.000000,26790,26790.000000,26790,26790.000000
mean,3829.334490,0.408921,2021-06-24 16:32:27.950727680,30.670063,2022-08-05 04:15:54.624859904,504254.552333
min,50.000000,0.000000,2020-01-01 00:00:00,1.000000,2020-01-11 00:00:00,10111.000000
25%,324.000000,0.000000,2020-09-20 00:00:00,3.000000,2021-10-09 00:00:00,253140.750000
50%,1448.000000,0.000000,2021-06-23 00:00:00,13.000000,2022-08-09 00:00:00,505576.000000
75%,5440.000000,1.000000,2022-03-26 00:00:00,48.000000,2023-05-15 00:00:00,754863.750000
max,598260.000000,1.000000,2022-12-31 00:00:00,3380.000000,2025-02-26 00:00:00,999979.000000
std,7323.006458,0.491644,NaN,51.648204,NaN,286607.059406

In [127]:
leads_final.shape

(52666, 10)

## Data Analysis

In [136]:
sales = df[df['OPPORTUNITY_IS_WON'] == 1]

ld = leads_final['LEAD_ID'].nunique()
ql_cnt = ql['LEAD_ID'].nunique()
acct = leads_final['CONVERTED_ACCOUNT_ID'].nunique()
oppo = df['OPPORTUNITY_ID'].nunique()
oppo_value = df['REVENUE'].sum()
oppo_won = sales['OPPORTUNITY_ID'].nunique()
oppo_won_value = sales['REVENUE'].sum()

#lead to qualified lead
print(f'number of leads: {ld}')
print(f'number of qualified_leads: {ql_cnt}')
print(f'number of account based: {acct}')
print(f'number of oppo: {oppo}')
print(f'value of oppo: {oppo_value}')
print(f'number of sales: {oppo_won}')
print(f'value of sales: {oppo_won_value}')

print(f'lead to qualified_lead conversion rate is: {round(ql_cnt/ld*100,2)}')
print(f'lead to qualified_account conversion rate is: {round(acct/ld*100,2)}')
print(f'lead to oppotunity conversion rate is: {round(oppo/ld*100,2)}')
print(f'lead to sales conversion rate is {round(oppo_won/ld*100,2)}')
print(f'oppo to sales conversion rate is {round(oppo_won/oppo*100,2)}')
print(f'oppo to sales value conversion rate is {round(oppo_won_value/oppo_value*100,2)}')

number of leads: 52666
number of qualified_leads: 25414
number of account based: 7478
number of oppo: 26790
value of oppo: 102587871
number of sales: 10955
value of sales: 42032795
lead to qualified_lead conversion rate is: 48.26
lead to qualified_account conversion rate is: 14.2
lead to oppotunity conversion rate is: 50.87
lead to sales conversion rate is 20.8
oppo to sales conversion rate is 40.89
oppo to sales value conversion rate is 40.97

In [137]:
leads_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52666 entries, 0 to 55013
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   LEAD_ID               52666 non-null  int64
 1   LEAD_SOURCE           50012 non-null  object
 2   LEAD_CREATE_DATE      52666 non-null  datetime64[ns]
 3   LEAD_STATUS           52666 non-null  object
 4   LEAD_NAME             52666 non-null  object
 5   LEAD_REGION           36629 non-null  object
 6   LEAD_STATE            33064 non-null  object
 7   LEAD_EMAIL            44813 non-null  object
 8   LEAD_INDUSTRY         18080 non-null  object
 9   CONVERTED_ACCOUNT_ID  7479 non-null   object
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 4.4+ MB

In [149]:
incompleted_ld = leads_final[(leads_final['LEAD_EMAIL'].isna()) | (leads_final['LEAD_INDUSTRY'].isna()) | (leads_final['LEAD_REGION'].isna()) ]['LEAD_ID']
incompleted_ld.size

39544

In [145]:
print(f'Completed info: {(1-39544/52666)*100}')

Completed info: 24.915505259560245

In [154]:
ql[ql['LEAD_ID'].isin(incompleted_ld)]['LEAD_ID'].size

18881

In [156]:
ql.shape

(25414, 12)

In [158]:
print(f'qualifed_leads from incompleted leads: {18881/39544*100}')
print(f'qualifed_leads from completed leads: {(25414-18881)/(52666-39544)*100}')

qualifed_leads from incompleted leads: 47.74681367590532
qualifed_leads from completed leads: 49.78661789361378

In [162]:
no_email = leads_final[leads_final['LEAD_EMAIL'].isna()]['LEAD_ID']

7853

In [165]:
no_email_ql_cnt = ql[ql['LEAD_ID'].isin(no_email)]['LEAD_ID'].size
no_email.size
print(f'no email ql: {no_email_ql_cnt/no_email.size*100}')

no email ql: 47.11575194193302

The info completed rate doesn't impact the qualification but the information will help understand the potential customers and  improve lead quality.

In [174]:
df['converted_days'] = (df['OPPORTUNITY_CREATED_DATE']-df['LEAD_CREATE_DATE']).dt.days

In [177]:
df['converted_days'].describe()

count    26790.000000
mean       406.488503
std        351.397397
min          0.000000
25%        129.000000
50%        309.000000
75%        632.000000
max       1823.000000
Name: converted_days, dtype: float64